/* 全局样式 */
*{
    margin: 0;
    padding: 0;
    user-select: none;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* 页面主体样式 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f4f4f9;
    overflow-x: hidden; /* 取消显示横向滚动条 */
    overflow-y: auto; /* 确保显示纵向滚动条 */
}

/* 新增全宽按钮样式 */
.full-width-button {
    width: 100%;
    box-sizing: border-box; /* 包括内边距和边框在内的总宽度 */
}



/* 底部导航栏样式 */
#bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#bottom-nav button {
    flex: 1; /* 使按钮均分导航栏的宽度 */
    padding: 10px 0; /* 调整按钮的上下内边距 */
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0; /* 移除圆角以便按钮无缝连接 */
    cursor: pointer;
    text-align: center; /* 确保文本居中 */
}

#bottom-nav button:hover {
    background-color: #45a049;
}